.image-details, .uploaded-image-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
  }
  
  .image-text {
    margin-bottom: 1rem;
  }
  
  h1, h2, h3 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .image-and-description {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
  }
  
  .image-size {
    flex: 1;
    height: 800px;
    object-fit: cover;
  }
  
  .image-description {
    flex: 1;
  }
  
  .map {
    height: 300px; 
    min-width: 300px;
    width: 100%;
    margin-top: 1rem;
  }
  
  .uploaded-images-container {
    margin-top: 2rem;
    position: relative;
  }
  
  .uploaded-images {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
    scroll-behavior: smooth;
  }
  
  .uploaded-image-details {
    flex: 0 0 auto;
    width: 300px;
    text-align: center; 
  }
  
  .uploaded-image-size {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .scroll-arrows {
    display: flex;
    align-items: center;
  }
  
  .scroll-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    margin: 0 0.5rem;
  }
  
  .scroll-button:focus {
    outline: none;
  }
  
  .uploaded-image-details {
    position: relative;
  }
  
  .delete-button {
    position: absolute;
    top: 0;
    right: 0;
  }